# Python
*.pyc
__pycache__/

# Django
*.log
db.sqlite3
media/
staticfiles/
static/          # if you collectstatic into this folder

# Environment
.env
*.env
venv/
timengine/

# VS Code / JetBrains / etc.
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

